

#img-slider-container {
  position: fixed;
  width: 100%;
  top: 45vh;
  bottom: 7vh;
  border-top: 1.3vh solid rgba(110, 110, 110, 0.344); /* example border, change as needed */
  border-bottom: 1vh solid rgba(119, 92, 92, 0.344); /* example border, change as needed */
}

#img-slider-container:hover {
  cursor: grab;
}


/* Image Track */
#im-track {
  position:     relative;
  display:      flex;
  width:        10vmin;
  height:       1vh;
  margin:       2%;
  gap:          4vmin;
  transform:    translate(500%, -50%);
}

#im-track > .image {
  display:          inline-block;
  width:            30vmin;
  height:           40vmin;
  object-fit:       cover;
  object-position:  center;
}

#im-track > .image:hover {
  cursor: pointer;
}

#im-track:hover {
  cursor: grab;
}



/* Image Effects */
.blur-sm {
  filter: blur(1px);
  transition: filter 0.5s ease;
}
.blur-sm:hover {
  filter: none;
}


.blur-md {
  filter: blur(3px);
  transition: filter 0.5s ease;
}
.blur-md:hover {
  filter: none;
}


.blur-lg {
  filter: blur(6px);
  transition: filter 0.5s ease;
}
.blur-lg:hover {
  filter: none;
}


.blur-sm {
  filter: blur(1px);
  transition: filter 0.5s ease;
}
.blur-sm:hover {
  filter: none;
}


.blur-md {
  filter: blur(3px);
  transition: filter 0.5s ease;
}
.blur-md:hover {
  filter: none;
}


.blur-lg {
  filter: blur(6px);
  transition: filter 0.5s ease;
}
.blur-lg:hover {
  filter: none;
}


.scale-quiet {
  transition: transform 0.2s ease-in-out;
}
.scale-quiet:hover {
  z-index: 999;
  transform: scale(0.9);
}

.scale-regular {
  transition: transform 0.2s ease-in-out;
}
.scale-regular:hover {
  z-index: 999;
  transform: scale(1.2);
}


.scale-loud {
  transition: transform 0.2s ease-in-out;
}
.scale-loud:hover {
  z-index:    999;
  transform:  scale(1.5);
}


