.terminal-container {
    position: absolute;
    top: 0%;
    left: 0%;
    
    width: 89%;
    height: 80%;

    margin: 5%;

    color: #16C60C;
    border: 0.2vh solid #16C60C;

    overflow: hidden;
}